*{
    box-sizing: border-box;   
}
body{
    margin:0;
    font-size:16px;
}
.container{
    margin:0 5% 0 5%
}
.form-control{
    width:100%;
    padding:10px;
}
.btn{
    min-width:30px; 
    padding:10px;
    font-size:18px;    
}
.btn-primary{
    background-color:blue;
    color:white;
}
.text-center{
    text-align: center;
}